.skills {
  max-width: 77rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  section {
    margin: 0rem 1.5rem 2rem;
    text-align: center;

    h3 {
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
  }
}

.projects {
  text-align: center;
  margin-bottom: 4rem;

  h3 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .project__one,
  .project__two {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      column-gap: 4rem;
      margin-bottom: 10rem;

      img {
        border-radius: 0.5rem;
      }

      p {
        line-height: 3rem;

        svg {
          margin-right: 2rem;
        }

        a {
          margin-top: 2rem;
          text-decoration: none;
          color: var(--primary-color);

          svg {
            margin-left: 1.2rem;
            font-size: 2.5rem;
          }
        }
      }

      @media screen and (max-width: 813px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.Form {
  background-color: var(--primary-color);
  width: min(60rem, 100%); /* Utiliza el valo más pequeño */
  margin: 0 auto;
  padding: 2rem;
  border: 0.4rem var(--neutral-color) solid;
  border-radius: 1rem;

  p {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--light-color);
  }

  .FormCamp {
    margin-bottom: 2rem;

    label {
      color: var(--secondary-color);
      font-weight: bold;
      margin: 0.5rem 0rem;
      display: block;
    }

    input {
      width: 100%;
      font-size: 2rem;
      border: none;
      padding: 1.5rem;
      border-radius: 0.5rem;

      &:focus {
        outline: 2px solid;
        outline-color: var(--light-color);
      }
    }

    textarea {
      width: 100%;
      resize: vertical;
      font-size: 2rem;
      padding: 1.5rem;
      border-radius: 0.5rem;

      &:focus {
        outline: 2px solid;
        outline-color: var(--light-color);
      }
    }
  }
  .FormBtn {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: var(--light-color);
      color: var(--dark-color);
      padding: 1rem 3rem;
      margin-top: 3rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bolder;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--terciary-color);
      }

      @media screen and (max-width: 676px) {
        width: 100%;
      }
    }
  }
}
