/*  ESTILOS DEL HOME  */

.main {
  h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  .description {
    max-width: 75rem;
    margin: auto;
    line-height: 3rem;
    text-align: justify;
    color: var(--dark-color);
  }

  .skills {
    max-width: 77rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    section {
      margin: 0rem 1.5rem 2rem;
      text-align: center;

      h3 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
      }

      i {
        font-size: 3rem;
        color: var(--primary-color);
      }
    }
  }

  .projects {
    text-align: center;
    margin-bottom: 4rem;

    h3 {
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }

    .project__one {
      section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 4rem;

        img {
          border-radius: 0.5rem;
        }

        p {
          line-height: 3rem;

          i {
            margin-right: 2rem;
          }

          a {
            margin-top: 2rem;
            text-decoration: none;
            color: var(--primary-color);

            i {
              margin-left: 1.5rem;
              font-size: 2.2rem;
            }
          }
        }

        @media screen and (max-width: 813px) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

.span {
  color: var(--neutral-color);
  font-size: 1.8rem;
  margin-left: 1rem;
  border: 1px solid var(--neutral-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
